@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";

.MiniTask {
  @include border-black-1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    &-checkboxHide {
      display: none;
    }
    &-checkbox {
      @include border-black-1;
      vertical-align: middle;
      display: inline-block;
      height: 12px;
      width: 12px;
      cursor: pointer;
      position: relative;

      &:hover {
        background-color: $color-white-1;
      }

      &.checked {
        background-color: $color-white-0;

        &:after {
          position: absolute;
          content: "";
          display: block;
          left: 1px;
          top: 50%;
          width: 3px;
          height: 9px;
          border: solid $color-black-0;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg) translate(-50%, -50%);
        }
      }
    }
    &-text {
      padding-left: 8px;
      vertical-align: middle;
    }
  }

  &-actions {
    span {
      padding: 0 8px;
    }
  }
}

@include sm {
  .MiniTask {
    padding: 12px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    
    &-title {
      margin-bottom: 12px;
      padding-left: 8px;
    }
  
    &-actions {
      width: 100%;
      span {
        padding: 0 4px;
      }
    }
  }
}
