//color
$color-green-0: #5bb85d;
$color-blue-0: #00bcd5;
$color-red-0: #d9544f;
$color-white-0: #ffffff;
$color-white-1: #f3f3f3;
$color-black-0: #000000;
$color-gray-0: #e0e0e0;

//break point
$bp-xs: 0px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

//width
$w-max: 1209px;

//height
$h-max: 958px;
$h-max-1: 700px;

//border
$border-radius-0: 5px;

//font-size
$fs-0: 1rem;
$fs-1: 1.2rem;
$fs-2: 0.8rem;
$fs-3: 1.3rem;